SECRET_KEY_BASE={{ lookup('community.general.bitwarden_secrets_manager', 'b7e2fea6-8444-4c2b-8d94-b3d6015199e6').value }}
RAILS_ENV=production
RACK_ENV=production
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
TZ=Brasilia
LANG=en_US.UTF-8
ASSUME_SSL=true
AWS_ACCESS_KEY_ID={{ lookup('community.general.bitwarden_secrets_manager', 'b778da5d-279c-46c5-95b2-b3d60151c829').value }}
AWS_SECRET_ACCESS_KEY={{ lookup('community.general.bitwarden_secrets_manager', '97e7f35e-7265-4186-bdd2-b3d60151eec9').value }}
DATABASE_URL=postgres://ride-admin:{{ lookup('community.general.bitwarden_secrets_manager', '6893be08-c03f-4e95-87f8-b3d601116eab').value }}@postgres:5432/ride-admin-production
MAPS_API_KEY={{ lookup('community.general.bitwarden_secrets_manager', '68bd9798-545f-41a7-b6f8-b3d601521414').value }}
INTER_BANK_CLIENT_ID={{ lookup('community.general.bitwarden_secrets_manager', '089ea731-5259-48cd-9063-b3d601524dda').value }}
INTER_BANK_CLIENT_SECRET={{ lookup('community.general.bitwarden_secrets_manager', '7b804cea-4406-4a36-88d5-b3d601525d7d').value }}
INTER_BANK_CERTIFICATE={{ lookup('community.general.bitwarden_secrets_manager', '0458c853-3237-49f9-826b-b3d60152741b').value }}
INTER_BANK_KEY={{ lookup('community.general.bitwarden_secrets_manager', '589cb20b-9af9-4b9f-902a-b3d601528835').value }}
