
services:
  registry:
    container_name: registry
    image: distribution/distribution:edge
    restart: unless-stopped
    ports:
      - 5000:5000
    volumes:
      - /mnt/homelab-data/registry/data:/var/lib/registry:Z
      - ./registry/config.yml:/etc/distribution/config.yml:Z

  # jellyfin:
  #   container_name: jellyfin
  #   image: jellyfin/jellyfin
  #   restart: 'unless-stopped'
  #   ports:
  #     - 8096:8096/tcp
  #     - 7359:7359/udp
  #   volumes:
  #     - ./jellyfin/config:/config
  #     - /mnt/homelab-data/jellyfin/cache:/cache
  #     - /mnt/homelab-data/jellyfin/metadata:/metadata
  #     - type: bind
  #       source: /mnt/homelab-data/movies
  #       target: /media/movies
  #     - type: bind
  #       source: /mnt/homelab-data/shows
  #       target: /media/shows
  #     # Optional - extra fonts to be used during transcoding with subtitle burn-in
  #     # - type: bind
  #     #   source: /path/to/fonts
  #     #   target: /usr/local/share/fonts/custom
  #     #   read_only: true
  #   # Optional - alternative address used for autodiscovery
  #   # environment:
  #   #   - JELLYFIN_PublishedServerUrl=http://example.com
  #   # Optional - may be necessary for docker healthcheck to pass if running in host network mode
  #   # extra_hosts:
  #   #   - 'host.docker.internal:host-gateway'

  # homeassistant:
  #   container_name: homeassistant
  #   image: "ghcr.io/home-assistant/home-assistant:stable"
  #   restart: unless-stopped
  #   privileged: true
  #   volumes:
  #     - ./homeassistant/config:/config
  #     - /etc/localtime:/etc/localtime:ro
  #   network_mode: host
  #   cap_add:
  #     - NET_ADMIN
  #     - NET_RAW

  traefik:
    container_name: traefik
    image: traefik:v3.6
    restart: unless-stopped
    privileged: true
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "./traefik/letsencrypt:/letsencrypt:z"
    cap_add:
      - NET_BIND_SERVICE
    networks:
      - web

  tosh_io:
    container_name: tosh_io
    image: homelab:5000/tosh.io:latest
    restart: unless-stopped
    expose:
      - "9292"
    volumes:
      - ./db/tosh.io:/usr/src/app/db:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
      - "traefik.http.routers.tosh_io.entrypoints=websecure"
      - "traefik.http.routers.tosh_io.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
      - "dev.dozzle.group=webapps"
    networks:
      - web

  price_history:
    container_name: price_history
    image: homelab:5000/price_history:latest
    restart: unless-stopped
    expose:
      - "3000"
    userns_mode: "keep-id"
    volumes:
      - /mnt/homelab-data/dbs/price_history:/rails/storage:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.price_history.rule=Host(`price-history.tosh.io`)"
      - "traefik.http.routers.price_history.entrypoints=websecure"
      - "traefik.http.routers.price_history.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.price_history.loadbalancer.server.port=3000"
      - "dev.dozzle.group=webapps"
    networks:
      - web
    env_file:
      - ../price_history/.env

  ynab_view:
    container_name: ynab_view
    image: homelab:5000/ynab-view:latest
    restart: unless-stopped
    expose:
      - "4567"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ynab_view.rule=Host(`ynab-view.tosh.io`)"
      - "traefik.http.routers.ynab_view.entrypoints=websecure"
      - "traefik.http.routers.ynab_view.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.ynab_view.loadbalancer.server.port=4567"
      - "dev.dozzle.group=webapps"
    networks:
      - web
    env_file:
      - ../ynab-view/.env

  bingo:
    container_name: bingo
    image: homelab:5000/bingo:latest
    restart: unless-stopped
    expose:
      - "3001"
    userns_mode: "keep-id"
    volumes:
      - /mnt/homelab-data/dbs/bingo:/rails/storage:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bingo.rule=Host(`bingo.tosh.io`)"
      - "traefik.http.routers.bingo.entrypoints=websecure"
      - "traefik.http.routers.bingo.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.bingo.loadbalancer.server.port=3001"
      - "dev.dozzle.group=webapps"
    networks:
      - web
    env_file:
      - ../bingo/.env

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    privileged: true
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
    ports:
      - 8081:8080
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true

  ollama:
    container_name: ollama
    image: ollama/ollama
    restart: unless-stopped
    ports:
      - 11434:11434
    volumes:
      - /mnt/homelab-data/ollama:/root/.ollama:z
    networks:
      - web

networks:
  web:
    external: true
