podman_shared_volumes:
  - "{{ playbook_dir }}/registry"
  - "{{ playbook_dir }}/homeassistant/config"
  - "{{ playbook_dir }}/traefik/letsencrypt"
  - "{{ playbook_dir }}/db/tosh.io"
  - "{{ playbook_dir }}/db/price_history"

podman_quadlets:
  - name: jellyfin
    container_name: jellyfin
    image: jellyfin/jellyfin
    ports:
      - "8096:8096/tcp"
      - "7359:7359/udp"
    volumes:
      - "{{ playbook_dir }}/jellyfin/config:/config"
      - "/mnt/homelab-data/jellyfin/cache:/cache"
      - "/mnt/homelab-data/jellyfin/metadata:/metadata"
      - "/mnt/homelab-data/movies:/media/movies"
      - "/mnt/homelab-data/shows:/media/shows"

  - name: homeassistant
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    network: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - "{{ playbook_dir }}/homeassistant/config:/config"
      - "/etc/localtime:/etc/localtime:ro"

  - name: registry
    container_name: registry
    image: distribution/distribution:edge
    ports:
      - "5000:5000"
    volumes:
      - "/mnt/homelab-data/registry/data:/var/lib/registry:Z"
      - "{{ playbook_dir }}/registry/config.yml:/etc/distribution/config.yml:Z"

  - name: traefik
    container_name: traefik
    image: traefik:v3.6.4
    privileged: true
    network: web
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - "{{ playbook_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:Z"
      - "{{ playbook_dir }}/traefik/letsencrypt:/letsencrypt:z"
    cap_add:
      - NET_BIND_SERVICE

  - name: dozzle
    container_name: dozzle
    image: amir20/dozzle:latest
    privileged: true
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
    ports:
      - 8081:8080
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true

  - name: tosh_io
    container_name: tosh_io
    image: localhost:5000/tosh.io:latest
    network: web
    expose:
      - "9292"
    volumes:
      - "{{ playbook_dir }}/db/tosh.io:/usr/src/app/db:z"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
      - "traefik.http.routers.tosh_io.entrypoints=websecure"
      - "traefik.http.routers.tosh_io.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
      - "dev.dozzle.group=webapps"


