podman_shared_volumes:
  - "/ridelab-data/registry"
  - "/ridelab-data/traefik/letsencrypt"

podman_quadlets:

  - name: cloudflared
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token {{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}
    add_host: "host.containers.internal:host-gateway"

  #   ports:
  #     - "53:53/udp"
  #     - "53:53/tcp"
  #     - "8082:80"
  #   volumes:
  #     - "/mnt/homelab-data/pihole:/etc/pihole:z"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/pihole.env"
  #   dns:
  #     - "8.8.8.8"
  #     - "8.8.4.4"

  # - name: pihole
  #   container_name: pihole
  #   image: pihole/pihole:latest
  #   ports:
  #     - "53:53/udp"
  #     - "53:53/tcp"
  #     - "8082:80"
  #   volumes:
  #     - "/mnt/homelab-data/pihole:/etc/pihole:z"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/pihole.env"
  #   dns:
  #     - "8.8.8.8"
  #     - "8.8.4.4"

  # - name: jellyfin
  #   container_name: jellyfin
  #   image: jellyfin/jellyfin
  #   ports:
  #     - "8096:8096/tcp"
  #     - "7359:7359/udp"
  #   volumes:
  #     - "{{ playbook_dir }}/jellyfin/config:/config"
  #     - "/mnt/homelab-data/jellyfin/cache:/cache"
  #     - "/mnt/homelab-data/jellyfin/metadata:/metadata"
  #     - "/mnt/homelab-data/movies:/media/movies"
  #     - "/mnt/homelab-data/shows:/media/shows"

  # - name: homeassistant
  #   container_name: homeassistant
  #   image: ghcr.io/home-assistant/home-assistant:stable
  #   network: host
  #   privileged: true
  #   cap_add:
  #     - NET_ADMIN
  #     - NET_RAW
  #   volumes:
  #     - "{{ playbook_dir }}/homeassistant/config:/config"
  #     - "/etc/localtime:/etc/localtime:ro"

  # - name: registry
  #   container_name: registry
  #   image: distribution/distribution:edge
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - "/mnt/homelab-data/registry/data:/var/lib/registry:Z"
  #     - "{{ playbook_dir }}/registry/config.yml:/etc/distribution/config.yml:Z"

  # - name: traefik
  #   container_name: traefik
  #   image: traefik:v3.6.4
  #   privileged: true
  #   network: web
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     - "8080:8080"
  #   volumes:
  #     - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
  #     - "{{ playbook_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:Z"
  #     - "{{ playbook_dir }}/traefik/letsencrypt:/letsencrypt:z"
  #   cap_add:
  #     - NET_BIND_SERVICE

  # - name: dozzle
  #   container_name: dozzle
  #   image: amir20/dozzle:latest
  #   privileged: true
  #   volumes:
  #     - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     - DOZZLE_ENABLE_ACTIONS=true
  #     - DOZZLE_ENABLE_SHELL=true

  # - name: tosh_io
  #   container_name: tosh_io
  #   image: homelab.local:5000/tosh.io:latest
  #   network: web
  #   expose:
  #     - "9292"
  #   volumes:
  #     - "{{ playbook_dir }}/db/tosh.io:/usr/src/app/db:z"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
  #     - "traefik.http.routers.tosh_io.entrypoints=websecure"
  #     - "traefik.http.routers.tosh_io.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
  #     - "dev.dozzle.group=webapps"

  # - name: price_history
  #   container_name: price_history
  #   image: homelab.local:5000/price_history:latest
  #   network: web
  #   expose:
  #     - "3000"
  #   volumes:
  #     - "/mnt/homelab-data/dbs/price_history:/rails/storage:z"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/price_history.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.price_history.rule=Host(`price-history.tosh.io`)"
  #     - "traefik.http.routers.price_history.entrypoints=websecure"
  #     - "traefik.http.routers.price_history.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.price_history.loadbalancer.server.port=3000"
  #     - "dev.dozzle.group=webapps"

  # - name: ynab_view
  #   container_name: ynab_view
  #   image: homelab.local:5000/ynab-view:latest
  #   network: web
  #   expose:
  #     - "4567"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/ynab_view.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.ynab_view.rule=Host(`ynab-view.tosh.io`)"
  #     - "traefik.http.routers.ynab_view.entrypoints=websecure"
  #     - "traefik.http.routers.ynab_view.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.ynab_view.loadbalancer.server.port=4567"
  #     - "dev.dozzle.group=webapps"

  # - name: bingo
  #   container_name: bingo
  #   image: homelab.local:5000/bingo:latest
  #   network: web
  #   expose:
  #     - "3001"
  #   volumes:
  #     - /mnt/homelab-data/dbs/bingo:/rails/storage:z
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/bingo.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.bingo.rule=Host(`bingo.tosh.io`)"
  #     - "traefik.http.routers.bingo.entrypoints=websecure"
  #     - "traefik.http.routers.bingo.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.bingo.loadbalancer.server.port=3001"
  #     - "dev.dozzle.group=webapps"

  # - name: household-chores
  #   container_name: household-chores
  #   image: homelab.local:5000/household-chores:latest
  #   network: web
  #   expose:
  #     - "4567"
  #   volumes:
  #     - /mnt/homelab-data/dbs/household-chores:/app/storage:z
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/household-chores.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.household-chores.rule=Host(`household-chores.tosh.io`)"
  #     - "traefik.http.routers.household-chores.entrypoints=websecure"
  #     - "traefik.http.routers.household-chores.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.household-chores.loadbalancer.server.port=4567"
  #     - "dev.dozzle.group=webapps"
