podman_shared_volumes:
  - "/ridelab-data/traefik/letsencrypt"
  - "/ridelab-data/postgres"

podman_quadlets:

  - name: cloudflared
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token {{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}
    add_host: "host.containers.internal:host-gateway"

  - name: postgres
    container_name: postgres
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    volumes:
      - "/ridelab-data/postgres:/var/lib/postgresql/data:z"
    env_data:
      POSTGRES_USER: "{{ postgres_root_user }}"
      POSTGRES_PASSWORD: "{{ postgres_root_password }}"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    environment_files:
      - "/home/{{ local_user }}/.config/containers/env/postgres.env"
    command: "-c shared_buffers=512MB -c effective_cache_size=1536MB -c work_mem=16MB -c checkpoint_completion_target=0.9 -c log_min_duration_statement=200ms -c log_checkpoints=on -c idle_in_transaction_session_timeout=60000"
    extra_args:
      - "--memory=2g"
      - "--cpus=2"
      - "--shm-size=1g"
      - "--health-cmd=pg_isready -U {{ postgres_root_user }}"
      - "--health-interval=10s"

  - name: registry
    container_name: registry
    image: distribution/distribution:edge
    ports:
      - "5000:5000"
    volumes:
      - "/ridelab-data/registry/data:/var/lib/registry:Z"
      - "/ridelab-data/registry/config.yml:/etc/distribution/config.yml:Z"

  # - name: traefik
  #   container_name: traefik
  #   image: traefik:v3.6.4
  #   privileged: true
  #   network: web
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     - "8080:8080"
  #   volumes:
  #     - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
  #     - "{{ playbook_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:Z"
  #     - "{{ playbook_dir }}/traefik/letsencrypt:/letsencrypt:z"
  #   cap_add:
  #     - NET_BIND_SERVICE

  # - name: dozzle
  #   container_name: dozzle
  #   image: amir20/dozzle:latest
  #   privileged: true
  #   volumes:
  #     - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     - DOZZLE_ENABLE_ACTIONS=true
  #     - DOZZLE_ENABLE_SHELL=true

  # - name: ride-admin
  #   container_name: ride-admin
  #   image: localhost:5000/ride-admin:latest
  #   ports:
  #     - "3000:3000"
  #   env_data:
  #     RAILS_ENV: "production"
  #     # Add other DB env vars as needed if they aren't in an env_file
  #   environment_files:
  #     - "/home/{{ local_user }}/.config/containers/env/ride-admin.env"
  #   extra_args:
  #     - "--pull=always" # This ensures it always checks the local registry for the latest image

  # - name: tosh_io
  #   container_name: tosh_io
  #   image: homelab.local:5000/tosh.io:latest
  #   network: web
  #   expose:
  #     - "9292"
  #   volumes:
  #     - "{{ playbook_dir }}/db/tosh.io:/usr/src/app/db:z"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
  #     - "traefik.http.routers.tosh_io.entrypoints=websecure"
  #     - "traefik.http.routers.tosh_io.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
  #     - "dev.dozzle.group=webapps"

  # - name: price_history
  #   container_name: price_history
  #   image: homelab.local:5000/price_history:latest
  #   network: web
  #   expose:
  #     - "3000"
  #   volumes:
  #     - "/mnt/homelab-data/dbs/price_history:/rails/storage:z"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/price_history.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.price_history.rule=Host(`price-history.tosh.io`)"
  #     - "traefik.http.routers.price_history.entrypoints=websecure"
  #     - "traefik.http.routers.price_history.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.price_history.loadbalancer.server.port=3000"
  #     - "dev.dozzle.group=webapps"

  # - name: ynab_view
  #   container_name: ynab_view
  #   image: homelab.local:5000/ynab-view:latest
  #   network: web
  #   expose:
  #     - "4567"
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/ynab_view.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.ynab_view.rule=Host(`ynab-view.tosh.io`)"
  #     - "traefik.http.routers.ynab_view.entrypoints=websecure"
  #     - "traefik.http.routers.ynab_view.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.ynab_view.loadbalancer.server.port=4567"
  #     - "dev.dozzle.group=webapps"

  # - name: bingo
  #   container_name: bingo
  #   image: homelab.local:5000/bingo:latest
  #   network: web
  #   expose:
  #     - "3001"
  #   volumes:
  #     - /mnt/homelab-data/dbs/bingo:/rails/storage:z
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/bingo.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.bingo.rule=Host(`bingo.tosh.io`)"
  #     - "traefik.http.routers.bingo.entrypoints=websecure"
  #     - "traefik.http.routers.bingo.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.bingo.loadbalancer.server.port=3001"
  #     - "dev.dozzle.group=webapps"

  # - name: household-chores
  #   container_name: household-chores
  #   image: homelab.local:5000/household-chores:latest
  #   network: web
  #   expose:
  #     - "4567"
  #   volumes:
  #     - /mnt/homelab-data/dbs/household-chores:/app/storage:z
  #   environment_files:
  #     - "{{ playbook_dir }}/environments/household-chores.env"
  #   userns: keep-id
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.household-chores.rule=Host(`household-chores.tosh.io`)"
  #     - "traefik.http.routers.household-chores.entrypoints=websecure"
  #     - "traefik.http.routers.household-chores.tls.certresolver=letsencrypt_resolver"
  #     - "traefik.http.services.household-chores.loadbalancer.server.port=4567"
  #     - "dev.dozzle.group=webapps"
