podman_shared_volumes:
  - "/ridelab-data/traefik/letsencrypt"
  - "/ridelab-data/postgres"

podman_quadlets:

  - name: cloudflared
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    network: web
    command: tunnel --no-autoupdate run --token {{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}
    add_host: "host.containers.internal:host-gateway"

  - name: postgres
    container_name: postgres
    image: postgres:18-alpine
    network: db_internal
    ports:
      - "5432:5432"
    volumes:
      - "/ridelab-data/postgres:/var/lib/postgresql/data:z"
    env_data:
      POSTGRES_USER: "{{ postgres_root_user }}"
      POSTGRES_PASSWORD: "{{ postgres_root_password }}"
    environment_files:
      - "/home/{{ local_user }}/.config/containers/env/postgres.env"
    command: "-c shared_buffers=512MB -c effective_cache_size=1536MB -c work_mem=16MB -c checkpoint_completion_target=0.9 -c log_min_duration_statement=200ms -c log_checkpoints=on -c idle_in_transaction_session_timeout=60000"
    extra_args:
      - "--memory=2g"
      - "--cpus=2"
      - "--shm-size=1g"
      - "--health-cmd=pg_isready -U {{ postgres_root_user }}"
      - "--health-interval=10s"

  - name: registry
    container_name: registry
    image: distribution/distribution:edge
    ports:
      - "5000:5000"
    volumes:
      - "/ridelab-data/registry/data:/var/lib/registry:Z"
      - "/ridelab-data/registry/config.yml:/etc/distribution/config.yml:Z"

  - name: traefik
    container_name: traefik
    image: traefik:v3.6.4
    privileged: true
    network: web
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - "/ridelab-data/traefik/traefik.yml:/etc/traefik/traefik.yml:Z"
      - "/ridelab-data/traefik/letsencrypt:/letsencrypt:z"
    cap_add:
      - NET_BIND_SERVICE
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.ride.eng.br`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=web"
      # Define the Basic Auth Middleware
      # Replace 'user:hash' with the output from the command in Step 1
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ lookup('env', 'TRAEFIK_BASIC_AUTH') }}"
      # Attach the Middleware to the Dashboard Router
      - "traefik.http.routers.dashboard.middlewares=traefik-auth"

  # - name: dozzle
  #   container_name: dozzle
  #   image: amir20/dozzle:latest
  #   privileged: true
  #   volumes:
  #     - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     - DOZZLE_ENABLE_ACTIONS=true
  #     - DOZZLE_ENABLE_SHELL=true

  - name: ride-admin
    container_name: ride-admin
    image: localhost:5000/ride-admin:latest
    network:
      - web
      - db_internal
    ports:
      - "3000:3000"
    environment_files:
      - "/home/{{ local_user }}/.config/containers/env/ride-admin.env"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ride-admin.rule=Host(`ride-admin.ride.eng.br`)"
      - "traefik.http.routers.ride-admin.entrypoints=web"
      - "traefik.http.services.ride-admin.loadbalancer.server.port=3000"
