- name: Set unprivileged port start
  ansible.builtin.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "{{ unprivileged_port_start }}"
    sysctl_set: yes
    state: present
    reload: yes
  become: yes

- name: Enable linger for the podman user
  ansible.builtin.command: "loginctl enable-linger {{ local_user }}"
  become: yes
  args:
    creates: "/var/lib/systemd/linger/{{ local_user }}"