- name: Install system dependencies
  ansible.builtin.dnf:
    name:
      - python3-pip
      - python3-psycopg2
    state: present
  become: yes

- name: Set unprivileged port start
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "{{ unprivileged_port_start }}"
    sysctl_set: yes
    state: present
    reload: yes
  become: yes

- name: Enable linger for the podman user
  ansible.builtin.command: "loginctl enable-linger {{ local_user }}"
  become: yes
  args:
    creates: "/var/lib/systemd/linger/{{ local_user }}"

- name: Create /ridelab-data directory
  ansible.builtin.file:
    path: /ridelab-data
    state: directory
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0755'
  become: yes
