---
- name: Ensure podman.socket is enabled and started for the user
  ansible.builtin.systemd:
    name: podman.socket
    scope: user
    enabled: true
    state: started
  register: podman_socket_result

- name: Ensure podman networks exist
  containers.podman.podman_network:
    name: "{{ item }}"
    state: present
  loop:
    - web
    - db_internal

- name: Ensure podman storage directory exists
  ansible.builtin.file:
    path: "/ridelab-data/podman/storage"
    state: directory
    mode: '0755'

- name: Set podman_sock path dynamically
  ansible.builtin.set_fact:
    podman_sock: "/run/user/{{ local_user_id }}/podman/podman.sock"

- name: Check if podman.sock exists
  ansible.builtin.stat:
    path: "{{ podman_sock }}"
  register: podman_sock_stat
  check_mode: no

- name: Fix permissions on podman.sock
  ansible.builtin.command:
    cmd: "podman unshare chown {{ local_user_id }}:{{ local_user_id }} -R {{ podman_sock }}"
  when: podman_sock_stat.stat.exists
  changed_when: false

- name: Ensure containers config directory exists
  ansible.builtin.file:
    path: "/home/{{ local_user }}/.config/containers"
    state: directory
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0755'

- name: Ensure storage.conf is in place
  ansible.builtin.copy:
    src: "storage.conf"
    dest: "/home/{{ local_user }}/.config/containers/storage.conf"
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0644'

- name: Allow insecure access on localhost registry for podman
  ansible.builtin.copy:
    src: "registries.conf"
    dest: "/home/{{ local_user }}/.config/containers/registries.conf"
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0644'

- name: Ensure containers env directory exists
  ansible.builtin.file:
    path: "/home/{{ local_user }}/.config/containers/env"
    state: directory
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0755'

- name: Create environment files
  ansible.builtin.template:
    src: "env_file.j2"
    dest: "/home/{{ local_user }}/.config/containers/env/{{ item.name }}.env"
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0600'
  loop: "{{ podman_quadlets | default([]) }}"
  when: item.env_data is defined
  vars:
    env_data: "{{ item.env_data }}"
  no_log: true

- name: Ensure Quadlet directory exists
  ansible.builtin.file:
    path: "/home/{{ local_user }}/.config/containers/systemd"
    state: directory
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0755'

- name: Create Quadlet container files
  ansible.builtin.template:
    src: "container.quadlet.j2"
    dest: "/home/{{ local_user }}/.config/containers/systemd/{{ item.name }}.container"
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0644'
  loop: "{{ podman_quadlets | default([]) }}"
  register: quadlet_files_result
  no_log: true

- name: Reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  when: quadlet_files_result.changed

- name: Start and enable Quadlet services
  ansible.builtin.systemd:
    name: "{{ item.name }}"
    state: started
    enabled: true
    scope: user
  loop: "{{ podman_quadlets | default([]) }}"

- name: Restart Quadlet services if config changed
  ansible.builtin.systemd:
    name: "{{ item.name }}"
    state: restarted
    scope: user
  loop: "{{ podman_quadlets | default([]) }}"
  when: quadlet_files_result.changed
