[Unit]
Description={{ item.name }} container
After=network-online.target
Wants=network-online.target

[Container]
Image={{ item.image }}
{% if item.container_name is defined %}
ContainerName={{ item.container_name }}
{% endif %}
{% if item.exec is defined %}
Exec={{ item.exec }}
{% endif %}
{% if item.ports is defined %}
{% for port in item.ports %}
PublishPort={{ port }}
{% endfor %}
{% endif %}
{% if item.volumes is defined %}
{% for volume in item.volumes %}
Volume={{ volume }}
{% endfor %}
{% endif %}
{% if item.environment is defined %}
{% for env in item.environment %}
Environment={{ env }}
{% endfor %}
{% endif %}
{% if item.environment_files is defined %}
{% for env_file in item.environment_files %}
EnvironmentFile={{ env_file }}
{% endfor %}
{% endif %}

{% if item.labels is defined %}
{% for label in item.labels %}
Label={{ label }}
{% endfor %}
{% endif %}
{% if item.network is defined %}
Network={{ item.network }}
{% endif %}
{% if item.userns is defined %}
UserNS={{ item.userns }}
{% endif %}
{% if item.ipv6 is defined and item.ipv6 %}
IPv6=true
{% endif %}
{% if item.security_opt is defined %}
{% for opt in item.security_opt %}
SecurityLabel={{ opt }}
{% endfor %}
{% endif %}
{% if item.extra_args is defined %}
{% for arg in item.extra_args %}
PodmanArgs={{ arg }}
{% endfor %}
{% endif %}
{% if item.privileged is defined and item.privileged %}
PodmanArgs=--privileged
{% endif %}

{% if item.cap_add is defined %}
{% for cap in item.cap_add %}
AddCapability={{ cap }}
{% endfor %}
{% endif %}


[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
